/*------- Font Family Starts -------*/

@font-face { font-family: "Quicksand-Medium"; src: url("../fonts/Quicksand-Medium.ttf"); }
@font-face { font-family: "Quicksand-SemiBold"; src: url("../fonts/Quicksand-SemiBold.ttf"); }
@font-face { font-family: "Quicksand-Bold"; src: url("../fonts/Quicksand-Bold.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 1px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.container-fluid { padding: 50px 15px; }
.d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.align-items-center { -webkit-align-items: center; align-items: center; }
.justify-content-flex-end { justify-content: flex-end; }
.section-heading > h2 { color: #000000; font: 6rem/1.2 "Quicksand-Bold"; margin-bottom: 50px; text-transform: uppercase; }
p { color: #000000; font: 1.8rem/1.7 "Quicksand-Medium"; }
.read-more > a { background-color: #000000; border: 1px solid #000000; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; color: #ffffff; display: inline-block; font: 1.8rem/1.4 "Quicksand-Medium"; margin: 30px 0 0; padding: 10px 25px; text-align: center; }
.read-more > a:hover { background-color: transparent; color: #000000; }

/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.bg-coming-soon { background: url("../images/coming-soon.jpg") no-repeat top/cover; height: 100vh; overflow: hidden; padding: 0 15px; position: relative; z-index: 10; }
.bg-coming-soon::after {
  background-color: #f99700;
  content: "";
  height: 50vh;
  position: absolute;
  right: 100px;
  top: 0;
  width: 25%;
  z-index: 10;
}
.coming-soon-logo { left: 50%; position: absolute; top: 30px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 11; }
.coming-soon-logo > img { margin: 0 auto; width: 10vw; }
.coming-soon-text { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; z-index: 11; }
.coming-soon-text > h1 { color: #ffffff; font: 10vw/1 "Quicksand-Bold"; letter-spacing: 10px; margin-bottom: 30px; text-align: center; text-shadow: 1px 5px 14px #000; text-transform: uppercase; }
.coming-soon-text > h1 > span { color: #f99700; }
.coming-soon-contact-address { bottom: 30px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); width: 100%; z-index: 11; }
.coming-soon-contact-address > h4,
.coming-soon-contact-address > h5 { color: #c5c5c5; font: 1.5vw/1.4 "Quicksand-Medium"; margin: 0 auto 15px; text-align: center; text-shadow: 1px 5px 14px #000; width: 50%; }
.coming-soon-contact-address > h5 { margin: 0 auto; }
.coming-soon-contact-address > h4 > span,
.coming-soon-contact-address > h5 > span { color: #f99700; font-family: "Quicksand-SemiBold"; }
.coming-soon-contact-address > h5 > a { color: #c5c5c5; }
.coming-soon-contact-address > h5 > a:hover { color: #f99700; }
.coming-soon-camera { bottom: -5vw; left: -5vw; position: absolute; z-index: 10; }
.coming-soon-camera > img { width: 20vw; }

/*------- Coming Soon Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Header Section Starts -------*/

.bg-header { background-color: rgb(0 0 0 / 70%); left: 0; padding: 10px 15px; position: fixed; top: 0; width: 100%; z-index: 3; }
.header-logo > a { display: inline-block; }
.header-logo > a > img { width: 70px; }
.menu-listing-desktop > li { display: inline-block; margin-right: 40px; }
.menu-listing-desktop > li:last-child { margin-right: 0; }
.menu-listing-desktop > li > a { color: #ffffff; display: block; font: 1.6rem/1.2 "Quicksand-Medium"; text-transform: uppercase; }
.menu-listing-desktop > li.active > a,
.menu-listing-desktop > li > a:hover { color: #c7151b; }

  /*------- Header Section Ends -------*/

  /*------- Video Section Starts -------*/

.bg-banner-video-home { display: block; height: 100vh; padding: 0; position: relative; z-index: 2; }
.bg-banner-video-home::after {
  background-color: rgb(0 0 0 / 70%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.banner-video { height: 100vh; object-fit: cover; width: 100%; }

  /*------- Video Section Ends -------*/

  /*------- Our Work Section Starts -------*/

.embed-responsive-youtube-videos { margin-bottom: 30px; }
.embed-responsive .youtube-videos { border: 1px solid #000000; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; padding: 10px; width: 100%; }

  /*------- Our Work Section Ends -------*/

  /*------- Our Team Section Starts -------*/

.our-team-img-info-home { margin-bottom: 50px; }
.our-team-img-info-home > img { border: 1px solid #000000; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 400px; margin: 0 auto 15px; object-fit: cover; padding: 10px; width: 400px; }
.our-team-info-home > h4 { color: #000000; font: 3rem/1 "Quicksand-SemiBold"; margin-bottom: 10px; }
.our-team-info-home > h6 { color: #272727; font: 1.8rem/1 "Quicksand-Medium"; }

  /*------- Our Team Section Ends -------*/

  /*------- Our Blog Section Starts -------*/

.box-blog-img-info-home { border: 1px solid #272727; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; margin-bottom: 30px; padding: 15px; }
.box-blog-img-info-home > img { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; margin-bottom: 15px; }
.box-blog-info-home > p { margin-bottom: 15px; }
.box-blog-info-home > p > span:first-child { background-color: #e7e7e7; color: #000000; display: inline-block; font: 1.6rem/1.2 "Quicksand-Medium";  padding: 5px 10px; text-align: center; }
.box-blog-info-home > p > span:last-child { color: #000000; font: 1.6rem/1.2 "Quicksand-Medium"; padding-left: 10px; }
.box-blog-info-home > h6 { color: #000000; font: 1.8rem/1.25 "Quicksand-SemiBold"; }

  /*------- Our Blog Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer { background-color: #000000; padding: 100px 15px; }
.footer-info > p { color: #a7a7a7; font: 2.4rem/1 "Quicksand-Medium"; margin-bottom: 15px; }
.footer-info > h2 { color: #ffffff; font: 6rem/1.25 "Quicksand-Bold"; text-transform: uppercase; }
.footer-info > h2 > span { display: block; }
.read-more-white > a { background-color: #ffffff; border: 1px solid #ffffff; color: #000000; }
.read-more-white > a:hover { background-color: transparent; color: #ffffff; }
.footer-contact-info > p { color: #a7a7a7; font: 2.4rem/1 "Quicksand-Medium"; margin-bottom: 20px; }
.footer-contact-info > p:last-child { margin-bottom: 0; }
.footer-contact-info > h4 { color: #ffffff; font: 3rem/1 "Quicksand-SemiBold"; margin-bottom: 30px; }
.footer-contact-info > h4 > span { display: block; margin-bottom: 10px; }
.footer-contact-info > p > a { color: #a7a7a7; }
.footer-contact-info > p > a:hover { color: #ffffff; letter-spacing: 2px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/