/*------- Font Family Starts -------*/

@font-face { font-family: "Birds-of-Paradise"; src: url("../fonts/Birds-of-Paradise.ttf"); }
@font-face { font-family: "Quicksand-Light"; src: url("../fonts/Quicksand-Light.ttf"); }
@font-face { font-family: "Quicksand-Regular"; src: url("../fonts/Quicksand-Regular.ttf"); }
@font-face { font-family: "Quicksand-Medium"; src: url("../fonts/Quicksand-Medium.ttf"); }
@font-face { font-family: "Quicksand-SemiBold"; src: url("../fonts/Quicksand-SemiBold.ttf"); }
@font-face { font-family: "Quicksand-Bold"; src: url("../fonts/Quicksand-Bold.ttf"); }
@font-face { font-family: "GoogleSans-Bold"; src: url("../fonts/GoogleSans-Bold.ttf"); }
@font-face { font-family: "Inception"; src: url("../fonts/Inception.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 1px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/


/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.bg-coming-soon { background: url("../images/coming-soon.jpg") no-repeat top/cover; height: 100vh; overflow: hidden; position: relative; z-index: 10; }
.bg-coming-soon::after {
  background-color: #f99700;
  content: "";
  height: 50vh;
  position: absolute;
  right: 100px;
  top: 0;
  width: 25%;
  z-index: 10;
}
.coming-soon-logo { left: 50%; position: absolute; top: 0; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 11; }
.coming-soon-logo > img { margin: 0 auto; width: 10vw; }
.coming-soon-text { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; z-index: 11; }
.coming-soon-text > h1 { color: #ffffff; font: 10vw/1 "Quicksand-Bold"; letter-spacing: 10px; margin-bottom: 30px; text-align: center; text-shadow: 1px 5px 14px #000; text-transform: uppercase; }
.coming-soon-text > h1 > span { color: #f99700; }
.coming-soon-contact-address { bottom: 30px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); width: 100%; z-index: 11; }
.coming-soon-contact-address > h4,
.coming-soon-contact-address > h5 { color: #c5c5c5; font: 1.5vw/1.4 "Quicksand-Medium"; margin: 0 auto 15px; text-align: center; text-shadow: 1px 5px 14px #000; width: 50%; }
.coming-soon-contact-address > h5 { margin: 0 auto; }
.coming-soon-contact-address > h4 > span,
.coming-soon-contact-address > h5 > span { color: #f99700; font-family: "Quicksand-SemiBold"; }
.coming-soon-contact-address > h5 > a { color: #c5c5c5; }
.coming-soon-contact-address > h5 > a:hover { color: #f99700; }
.coming-soon-camera { bottom: -5vw; left: -5vw; position: absolute; z-index: 10; }
.coming-soon-camera > img { width: 20vw; }

/*------- Coming Soon Page Ends -------*/